<div class="header">
  <div class="main-menu text-center">
    <div class="d-inline-block menu-item px-5 py-2">
      <a routerLink="" class="menu-link py-1 active">Trang chủ</a>
    </div>
    <div class="d-inline-block menu-item px-5 py-2">
      <a routerLink="" class="menu-link py-1">Gói chụp</a>
    </div>
    <div class="d-inline-block menu-item px-5 py-2">
      <a routerLink="" class="menu-link py-1">Phụ kiện</a>
    </div>
    <div class="d-inline-block menu-item px-5 py-2">
      <a routerLink="" class="menu-link py-1">Thư viện ảnh</a>
    </div>
    <div class="d-inline-block menu-item px-5 py-2">
      <a routerLink="" class="menu-link py-1">Liên hệ</a>
    </div>
  </div>
  <div class="social-menu d-none d-md-inline-block">
    <a routerLink="" class="social-item px-2"><img src="../../../assets/img/commons/facebook-logo.svg" alt="" class="social-icon w-2 w-xl-1"></a>
    <a routerLink="" class="social-item px-2"><img src="../../../assets/img/commons/flickr-logo.svg" alt="" class="social-icon w-2 w-xl-1"></a>
    <a routerLink="" class="social-item px-2"><img src="../../../assets/img/commons/instagram-logo.svg" alt="" class="social-icon w-2 w-xl-1"></a>
  </div>
  <img src="../../../assets/img/commons/menu.svg" alt="" class="action-sidebar w-4 w-md-3 px-xl-2">
</div>
