.social-menu {
    .social-item {
        position: relative;
        height: 25px; // IE8
        height: 2.5rem;
        width: 25px; // IE8
        width: 2.5rem;
        &:hover {
            @extend %social-icon-hover;
        }
    }
}
.action-sidebar {
    position: relative;
    height: 25px; // IE8
    height: 2.5rem;
    width: 25px; // IE8
    width: 2.5rem;
    cursor: pointer;
}
.menu-item {
    .menu-link {
        color: #333333;
        text-decoration: none;
        cursor: pointer;
        &.active {
            border-bottom: 1px solid #333333;
        }
    }
    &:hover {
        background-color: rgba(211, 211, 211, .4);
        border-radius: 5px;
    }
}
.header-sticky {
    display: none;
    position: fixed;
    top: 0;
    z-index: 1;
    background: #ffffff;
    border-bottom: 1px solid rgba(51,51,51,0.1);
}
.show {
    display: block;
}
$background: rgb(43, 0, 197);

%social-icon-hover {
    border-radius: 100%;
    color: $background; // IE8
    fill: $background;
    transform: scale(1.25);
    transition: background-color .5s, transform .5s ease-out;
}