<div class="branding-name text-center my-5">
    <a href="https://demo.mekshq.com/pinhole/" rel="home"><img class="branding-logo" src="../../assets/img/commons/pinhole_logo.png" alt="Pinhole"></a>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="thumb">
        <a routerLink="" class="d-inline-block item-link">
          <img src="../../assets/img/albums/hvhc/1.jpg" alt="" class="thumb-img w-100">
        </a>
      </div>
      <div class="description">

      </div>
    </div>
  </div>
</div>